*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  
  .container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -90px;
    
  
  }
  
  .container .row{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .sginup{
    border-radius: 20px;
    width: 1000px;
    height: 700px;
    display: flex;
    border: 1px solid #2b2a2a;
    box-shadow: 0px 30px 50px rgb(50, 179, 162);
  
    
    
  
  }
  .image{
    width: 50%;
    height: 100%;
    display: flex;
    
  }
  .image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .dataForm{
   
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* background-color: rgb(255, 255, 255); */
  
  
    padding: 50px;
    gap: 50px;
  }
  
  
  .dataForm .formTitle{
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* align-items: center; */
    /* text-align: center; */
  }
  
  .dataForm .formTitle p{
    color: #ccc;
  }
  
  .dataForm .inputGroup{
    /* background-color: red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
  
  
  }
  .dataForm .inputGroup .inpuItem{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 7px;
  }
  .dataForm .inputGroup .inpuItem input{
    border: 1px solid #ccc;
    padding: 10px;
  
  }
  
  .create{
    width: 70%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 10px;
    border: 2px solid rgb(50, 179, 162);
    cursor: pointer;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    transition: all 0.3s;
    background-color: transparent;
    padding: 10px 30px;
    
  }
  
  .create:hover{
    background-color: rgb(50, 179, 162);
    color: white;
  }
  
  /* Add this to your CSS file */
.inpuItem {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 1.1em;
  margin-bottom: 5px;
}

input[type="file"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

input[type="file"]:focus {
  outline: none;
  border-color: rgb(50, 179, 162);
  box-shadow: 0 0 5px rgb(50, 179, 162);
}

/* Style for the file input button */
input[type="file"]::-webkit-file-upload-button {
  background: rgb(50, 179, 162);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}


  @media screen and (max-width: 750px){
    .image{
      display: none;
      
    }
  
    .dataForm{
      width: 100%;
      align-items: center;
    }
  
    .dataForm .formTitle{
      align-items: center;
      text-align: center;
    }

  }
  @media screen and (max-width: 400px){
    label{
      font-size: 12px;
    }
  }